/*----------- import Font -----------*/

@font-face {
    font-family: Poppins-Regular;
    src: url('../../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: Poppins-Bold;
    src: url('../../fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: Poppins-Medium;
    src: url('../../fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: Montserrat-Bold;
    src: url('../../fonts/montserrat/Montserrat-Bold.ttf');
}

/*----------- Scrollbar Design -----------*/

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(218, 216, 216);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    filter: blur(8px);
    -webkit-filter: blur(8px);
    background: #5c5c5c;
    border-radius: 10px;
}

/*----------- Global Setting -----------*/

* {
    font-family: Poppins-Regular;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
li {
    text-decoration: none; 
}

ul {
    list-style-type: none;
}


/*----------- Index -----------*/

.container_octagram {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 700px;
    background-color: #eee;
}

.container_box {
    display: flex;
    justify-content: center;
    width: 1200px;
    height: 300px;
    box-shadow: 2px;
    text-align: center;
    /* background-color: #eee; */
}

.container_text {
    max-width: 700px;
}

.container_text h1 {
    font-family: Montserrat-Bold;
    font-size: 110px;
    font-weight: 900;
}

.container_text p {
    padding-top: 6px;
    padding-bottom: 30px;
    font-size: 15px;
    font-weight: 200;
    color: rgb(82, 82, 82);
}

.btn_reg {
    background-color: #f54141;
    color: #fff;
    padding: 13px 25px;
    width: 300px;
    border: none;
    outline: none;
    border-radius: 40px;
    font-weight: 700;
    cursor: pointer;
    transition: .5s;
}

.container_announce {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 900px;
    background-color: hsl(0, 88%, 77%);
}