@font-face {
  font-family: Poppins-Regular;
  src: url('../../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../../fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../../fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('../../fonts/montserrat/Montserrat-Bold.ttf');
}

.container {
  background-color: #F6F7FA;
}

.container_home {
  height: 100%;
  width: 100%;
  background-color: #F6F7FA;
}

.container_page {
  position: absolute;
  right: 0;
  width: 85%;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #F6F7FA;
}

/* Creator Page */
.creator_page {
  height: auto;
  width: 100%;
}

.bg_creator {
  height: 300px;
  width: 100%;
  background: #9053c7;
  background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
  background: linear-gradient(-135deg, #c850c0, #4158d0);
}

.limit_creator_profile {
  height: 170px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.creator_profile {
  position: relative;
  height: 100%;
  width: 70%;
}

.creator_content {
  position: relative;
  display: flex;
  align-items: center;
}

.creator_profile img {
  padding: 20px;
  height: 100%;
  width: 170px;
  border-radius: 50%;
}

.creator_detail {
  margin-left: 18px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.creators_name {
  margin-bottom: 2px;
  font-size: 27px;
  font-weight: 600;
}

.creators_desc {
  font-size: 14px;
}

.creator_detail p {
  margin-bottom: 10px;
  color: #666666;
  margin-top: 10px;
  font-size: 13px;
}

.post {
  position: absolute;
  right: 50px;
  top: 35px;
}

.btn_post {
  font-size: 15px;
  padding: 13px;
  background-color: #0b47a0;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  border: 1px #6d6d6d;
}

.fas {
  margin-right: 10px;
}

.btn_post:hover {
  background-color: #1f4f77;
}

/* Creator Bar */
.limit_navbar {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #cecece;
}

.navbar {
  margin-bottom: 10px;
  height: 40px;
  width: 70%;
  display: flex;
  align-items: center;
}

.navbar a {
  padding: 15px;
  font-size: 16px;
}

.navbar a:hover {
  border-bottom: 1px solid #707070;
}

/* Creator Post */

.limit_post {
  margin-top: 40px;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F6F7FA;
}

.creator_post {
  height: auto;
  width: 40%;
}

.post_box {
  width: 100%;
  height: auto;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: relative;
  margin-bottom: 20px;
}

.profile_post {
  padding-top: 20px;
  padding-left: 20px;
}

.profile_post {
  display: flex;
  width: 100%;
  height: auto;
  padding-bottom: 13px;
  border-bottom: 1px solid #cecece;
}

.profile_img_post {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.creator_post_name {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.creator_post_name .creator_name {
  font-size: 15px;
}

.creator_post_name .post_time {
  color: #9c9c9c;
  font-size: 13px;
}

.post_content_limit {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.post_content {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 90%;
  height: 100%;
}

.post_title {
  word-wrap: break-word;
  font-size: 25px;
  width: 100%;
}

.post_desc {
  word-wrap: break-word;
  font-size: 15px;
  width: 100%;
  height: auto;
  color: #818181;
}

.post_alert {
  width: 100%;
}