@font-face {
    font-family: Poppins-Regular;
    src: url('../../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: Poppins-Bold;
    src: url('../../fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: Poppins-Medium;
    src: url('../../fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: Montserrat-Bold;
    src: url('../../fonts/montserrat/Montserrat-Bold.ttf');
}

.post_select {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post_box_choose {
    width: auto;
    height: auto;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.header_choose {
    font-size: 20px;
    margin-top: 50px;
}

.grid_post_box {
    display: grid;
    padding: 2em;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.grid_item {
    margin: 4px;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.grid_item a{
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid_item:hover {
    background-color: #dadada;
}


.grid_item .fas {
    font-size: 30px;
}

.grid_item span {
    font-size: 15px;
}

/* Text Page */

.container_post_text {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header_post_text {
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
    height: auto;
}

.header_post_text_left {
    position: absolute;
    left: 0;
}

.header_post_text_right {
    position: absolute;
    right: 0;
}

.header_post_text_right button {
    margin-left: 10px;
    border: 1px;
    padding: 10px 30px 10px 30px;
    font-size: 15px;
    border-radius: 10px;
    font-weight: 600;
    color: #fff;
    background-color: #22549F;
    cursor: pointer;
}

.header_post_text_right button:hover {
    background-color: #183F7B;
}

.post_text_box {
    margin-top: 60px;
    width: 100%;
    height: 500px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 20px;
}

.post_text_box input{
    font-size: 20px;
    width: 100%;
    border: 1px;
    outline: none;
    padding: 10px;
}

.post_text_box textarea{
    font-size: 15px;
    width: 100%;
    border: 1px;
    outline: none;
    padding: 10px;
    height: 90%;
}