<div class="container_home">
    <div class="container_page">
        <div class="conatainer_package">
            <div class="title_package">
                <h1>Plans and Pricing</h1>
            </div>
            <div class="package_button">
                <a href="/package/create">Create</a>
            </div>
            <div class="package_box">
                <% for(var i=0; i < package.length; i++) { %>
                <div class="package_item">
                    <div class="package_name">
                        <span>Package name</span>
                        <h1><%=package[i].title%></h1>
                    </div>
                    <div class="package_price">
                        <span>Price</span>
                        <h1><%=package[i].price%> Baht</h1>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </div>
</div>