<nav>
  <div class="logo">
    <a href="/home">
      <img src="/img/icon.png" alt="Logo">
    </a>
  </div>
  <div class="container_navbar">
    <ul>
      <li>
        <a href="/home">
          <i class="fas fa-pager"></i>
          <span class="nav-item">หน้าหลัก</span>
        </a>
      </li>
      <li>
        <a href="/search">
          <i class="fas fa-compass"></i>
          <span class="nav-item">ค้นหาคริเอเตอร์</span>
        </a>
      </li>
      <li>
        <a href="/message">
          <i class="fas fa-envelope"></i>
          <span class="nav-item">ข้อความ</span>
        </a>
      </li>
      <li>
        <a href="/setting">
          <i class="fas fa-gear"></i>
          <span class="nav-item">ตั้งค่า</span>
        </a>
      </li>
        <li>
          <a href="/creator">
            <i class="fas fa-house-user"></i>
            <span class="nav-item">คริเอเตอร์</span>
          </a>
        </li>
    </ul>

    <div class="underline"></div>

    <div class="limit_octagram_list">
      <div class="title_nav">
        <span>Membership</span>
      </div>
    </div>

    <div class="limit_octagram_list">
      <div class="octagram_list" id="octagram_list">
      </div>
    </div>
  </div>

  <div class="profile">

    <div class="profile_link">
      <img src="<%= loggedIn.img %>" alt="Profile">
      <div class="profile_name">
        <% if (loggedIn) { %>
          <h1>
            <%= loggedIn.name %>
          </h1>
          <h2>
            <%= loggedIn.role %>
          </h2>
          <% } %>
      </div>
    </div>

    <div onclick="" class="ellipsis">
      <a onclick="ShowEllipsis()" class="drop_menu"><i class="fas fa-ellipsis-vertical drop_menu"></i></a>
      <div class="popup">
        <ul class="ellipsis_popups" id="ellipsis_popups">
          <li><a href="#">Creator resources</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="/logout" class="btn_logout">Log out</a></li>
        </ul>
      </div>
    </div>

  </div>
</nav>

<script>
  window.onload = async function () {
    fetch('http://localhost:4000/s/navbar')
        .then(response => response.json())
        .then(memberlist => {
            var html = '<div class="octagram_item">';

            if (memberlist.length > 0) {
                for (var count = 0; count < memberlist.length; count++) {
                    html += '<a href="/' + memberlist[count].pname + '">';
                    html += '<div class="creator_nav">';
                    html += '<img src="'+ memberlist[count].img + '" alt="profile_creator">';
                    html += '<span>' + memberlist[count].pname + '</span>';
                    html += ' </div>';
                    html += '</a>';
                }
            }
            else {

            }

            html += '</div>';

            const octagram_list = $("#octagram_list");
            octagram_list.empty();
            octagram_list.append(html);
        })
}
</script>