<div class="container_home">
    <div class="container_page">
        <div class="container_search">
            <div class="header_search">
                <h1>ค้นหาคริเอเตอร์</h1>
            </div>
            <div class="search_bar">
                <div class="search_box">
                    <input class="search_text" id="autosearch" type="text" name="search" placeholder='Serach...' />
                    <span class="symbol_search">
                        <i class="fas fa-magnifying-glass" aria-hidden="true"></i>
                    </span>
                    <button>ค้นหา</button>
                </div>
            </div>

            <div class="search_content" id="search_content">
            </div>

            <div class="creator_header"
                <h1>CREATOR LIST</h1>
            </div>

            <div class="creator_list">
                <ul class="profile_search">
                    <% for(var i=0; i < creators.length; i++) { %>
                        <li class="search_result">
                            <a href="/<%=creators[i].pname%>">
                                <img src="<%=creators[i].img%>" alt="">
                                <div class="creator_info">
                                    <span class="creator_name">
                                        <%= creators[i].pname %>
                                    </span>
                                    <span class="creator_desc">Creating website octagram</span>
                                    <input id="creatorUser" name="creatorUser" type="hidden"
                                        value="<%= creators[i].id %>" />
                                </div>
                            </a>
                        </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
</div>