<div class="container_home">
    <div class="container_page">
        <div class="creator_page">
            <div class="bg_creator">
            </div>
            <div class="limit_creator_profile">
                <div class="creator_profile">
                    <div class="creator_content">
                        <img src="/img/profile.png" alt="">
                        <div class="creator_detail">
                            <span class="creators_name">
                                <%= creators[0].pname %>
                            </span>
                            <span class="creators_desc">Creating website octagram</span>
                            <p>5.2M Members 41 Posts</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="limit_navbar">
                <div class="navbar">
                    <a href="#">Home</a>
                    <a href="#">About</a>
                </div>
            </div>
            <div class="limit_post">
                <div class="creator_post">
                </div>
            </div>
        </div>
    </div>
</div>