@font-face {
  font-family: Poppins-Regular;
  src: url('../../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../../fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../../fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('../../fonts/montserrat/Montserrat-Bold.ttf');
}

/* INDEX PAGE */

.container {
  background-color: #F6F7FA;
}

.container_home {
  height: 100vh;
  width: 100%;
  background-color: #F6F7FA;
}

.container_page {
  position: absolute;
  right: 0;
  width: 85%;
  height: auto;
  display: flex;
  justify-content: center;
  background-color: #F6F7FA;
}

.container_box {
  width: 50%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #F6F7FA;
  text-align: start;
}

.box_feed {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  height: 500px;
  width: 100%;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.box_feed img {
  width: 230px;
  height: 200px;
  margin: 20px;
}

.box_feed .btn {
  border-radius: 20px;
  color: #fff;
  font-family: Poppins-Regular;
  font-size: 15px;
  margin: 20px;
  padding: 10px 30px 10px 30px;
  width: auto;
  height: auto;
  background-color: rgb(98, 108, 228);
  cursor: pointer;
  border: 2px solid #6d6d6d;
}

.box_feed .btn:hover {
  background-color: rgb(112, 112, 112);
}

/* SEARCH PAGE  */

.container_search {
  width: 50%;
  height: 100vh;
  position: relative;
}

.header_search h1 {
  margin: 84px 0px 20px 0px;
  font-family: Poppins-Medium;
}

.search_content {
  display: none;
}

.search_content.show_content {
  display: block;
}

.search_bar {
  height: auto;
  width: 100%;
}

.search_box {
  height: 50px;
  width: 100%;
  position: relative;
  display: flex;
}

.search_box input {
  width: 100%;
}

.search_text {
  font-family: Poppins-Medium;
  font-size: 15px;
  color: #666666;
  height: 100%;
  background: #e6e6e6;
  border-radius: 10px;
  padding: 0 15px 0 50px;
  border: 1px;
}

.symbol_search {
  font-size: 21px;
  position: absolute;
  top: 10px;
  left: 15px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  color: #666666;
}

.search_box button {
  width: auto;
  height: 100%;
  border-radius: 10px;
  color: #fff;
  background-color: #22549F;
  font-family: Poppins-Medium;
  font-size: 15px;
  border: 1px;
  padding: 14px;
  margin-left: 10px;
  cursor: pointer;
}

.search_box button:hover {
  background-color: #02265c;
}

.search_text:hover {
  background: #c7c7c7;
}

/* Search Content */

.search_content {
  position: absolute;
  left: 40px;
  margin-top: 14px;
  width: 84%;
  height: auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.profile_search {
  padding-top: 10px;
  padding-bottom: 10px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.search_result {
  position: relative;
  margin: 3px;
  height: 60px;
  width: 95%;
}

.center_data {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nodata {
  font-size: 21px;
}

.search_result a {
  margin: 0;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 60px;
  width: 100%;
  border: 0px;
  background-color: #fff;
  border-radius: 10px;
}

.search_result a:hover {
  background-color: #dfdfdf;
}

.search_result img {
  margin-left: 10px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.search_result span {
  margin-left: 13px;
}

.creator_info {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.creator_name {
  font-size: 17px;
  font-weight: 700;
}

.creator_desc {
  font-size: 13px;
}

/* Header Creator */

.creator_header {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

/* Creator List */
.creator_list {
  margin-top: 20px;
  width: 100%;
  height: auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* Creator Page */
.creator_page {
  height: auto;
  width: 100%;
}

.bg_creator {
  height: 300px;
  width: 100%;
  background: #9053c7;
  background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
  background: linear-gradient(-135deg, #c850c0, #4158d0);
}

.limit_creator_profile {
  height: 170px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.creator_profile {
  position: relative;
  height: 100%;
  width: 70%;
}

.creator_content {
  position: relative;
  display: flex;
  align-items: center;
}

.creator_profile img {
  padding: 20px;
  height: 100%;
  width: 170px;
  border-radius: 50%;
}

.creator_detail {
  margin-left: 18px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.creators_name {
  margin-bottom: 2px;
  font-size: 27px;
  font-weight: 600;
}

.creators_desc {
  font-size: 14px;
}

.creator_detail p {
  margin-bottom: 10px;
  color: #666666;
  margin-top: 10px;
  font-size: 13px;
}

.membership {
  position: absolute;
  right: 50px;
  top: 35px;
}

.btn_sub {
  font-size: 12px;
  padding: 13px;
  background-color: #f01f1f;
  color: #fff;
  border-radius: 40px;
  cursor: pointer;
  border: 1px #6d6d6d;
}

.btn_sub:hover {
  background-color: #ee5959;
}

/* Creator Bar */
.limit_navbar {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #cecece;
}

.navbar {
  margin-bottom: 10px;
  height: 40px;
  width: 70%;
  display: flex;
  align-items: center;
}

.navbar a{
  padding: 15px;
  font-size: 16px;
}

.navbar a:hover{
  border-bottom: 1px solid #707070;
}

/* Creator Post */

.limit_post {
  margin-top: 40px;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F6F7FA;
}

.creator_post {
  height: auto;
  width: 40%;
}

.post_box {
  width: 100%;
  height: auto;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: relative;
  margin-bottom: 20px;
}

.profile_post {
  padding-top: 20px;
  padding-left: 20px;
}

.profile_post {
  display: flex;
  width: 100%;
  height: auto;
  padding-bottom: 13px;
  border-bottom: 1px solid #cecece;
}

.profile_img_post {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.creator_post_name {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.creator_post_name .creator_name {
  font-size: 15px;
}

.creator_post_name .post_time {
  color: #9c9c9c;
  font-size: 13px;
}

.post_content_limit {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.post_content {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 90%;
  height: 100%;
}

.post_title {
  word-wrap: break-word;
  font-size: 25px;
  width: 100%;
}

.post_desc {
  word-wrap: break-word;
  font-size: 15px;
  width: 100%;
  height: auto;
  color: #818181;
}

.post_alert {
  width: 100%;
}

.container_post {
  height: 100%;
  width: 100%;
  margin-bottom: 100px;
}

.header_feed {
  display: flex;
  margin-top: 100px;
  margin-bottom: 60px;
}

.limiter_post {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}