@font-face {
  font-family: Poppins-Regular;
  src: url('../../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../../fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../../fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('../../fonts/montserrat/Montserrat-Bold.ttf');
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.tier-list {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  justify-content: center; /* Distribute items evenly */
  padding: 20px;
}

.tier {
  margin: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px; /* Add some space between rows */
  padding: 20px;
  text-align: center;
  width: calc(30% - 20px); /* Subtract margins from width */
}

.tier h2 {
  margin-top: 0;
}

.tier ul {
  list-style-type: none;
  padding: 0;
}

.tier ul li {
  margin-bottom: 10px;
}

button {
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  padding: 10px 20px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}