@font-face {
  font-family: Poppins-Regular;
  src: url('../../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../../fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../../fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('../../fonts/montserrat/Montserrat-Bold.ttf');
}

.container {
  display: flex;
}

a {
  color: #000
}

nav {
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  height: 100vh;
  left: 0;
  background: #fff;
  width: 15%;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.container_navbar {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.container_navbar:hover {
  overflow: scroll;
}

ul li a {
  position: relative;
  color: rgb(85, 83, 83);
  font-size: 14px;
  display: table;
  margin-left: 13px;
  width: 90%;
  padding: 10px;
  border-radius: 30px;
}

nav .fas {
  position: relative;
  width: 70px;
  height: 40px;
  top: 10px;
  font-size: 20px;
  text-align: center;
}

.nav-item {
  position: relative;
  top: 8px;
  margin-left: 1px;
}

ul li a:hover {
  background: #eee;
  font-weight: 600;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.logo img {
  width: 50px;
  height: 50px;
}

.underline {
  background-color: #696969;
  width: 80%;
  height: 1px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 10px;
}

.profile {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: #ffffff;
}

.profile_link {
  margin-left: 20px;
  width: auto;
  height: 50px;
  display: flex;
}

.profile_link:hover {
  border-radius: 30px;
  background: #eee;
}

.profile_link img { 
  margin: auto;
  width: 45px;
  height: 45px;;
  border-radius: 50%;
}

.profile_link h1 {
  margin-right: 50px;
  margin-top: 3px;
  margin-left: 10px;
  font-size: 16px;
  font-family: 200;
}

.profile_link h2 {
  font-family: monospace;
  margin-left: 10px;
  font-size: 15px;
  font-weight: 100;
}

.ellipsis {
  position: absolute;
  right: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.ellipsis a:hover {
  background-color: #eee;
  border-radius: 30px;
}

.popup {
  position: relative;
}

.ellipsis_popups {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;  
  border-radius: 10px;
  width: 230px;
  position: absolute;
  right: 20px;
  bottom: 65px;
  background-color: #fff;
  display: none;
}

.drop_menu {
  border: none;
}

.ellipsis_popups.open_menu {
  display: block;
}

.ellipsis_popups li a {
  margin: 10px;
  font-size: 12px;
}

.btn_logout {
  color: #f57070;
}

.title_nav {
  width: 80%;
  margin-bottom: 10px;
}

.title_nav span {
  font-size: 15px;
}

.limit_octagram_list {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.octagram_list {
  height: auto;
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.octagram_item {
  height: 55px;
  width: 100%;
  cursor: pointer;
}

.octagram_item a{
  height: 100%;
  width: 100%;
}

.octagram_list img{
  height: 40px;
  width: 40px;
}

.creator_nav {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 20px;
  padding: 10px;
}

.creator_nav:hover {
  background-color: #eee;
}

.creator_nav span {
  position: absolute;
  margin-left: 50px;
}