@font-face {
    font-family: Poppins-Regular;
    src: url('../../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: Poppins-Bold;
    src: url('../../fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: Poppins-Medium;
    src: url('../../fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: Montserrat-Bold;
    src: url('../../fonts/montserrat/Montserrat-Bold.ttf');
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.container_setting {
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.setting_box {
    width: 100%;
    height: auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.setting_profile {
    display: grid;
}

.setting_profile img{
    margin-top: 10px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.btn_upload {
    height: 40px;
    width: 120px;
    border: 1px;
    border-radius: 20px;
    cursor: pointer;
    background-color: #eeeeee;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

.btn_upload:hover {
    background-color: #d8d8d8;
}

.btn_save {
    padding: 10px 20px 10px 20px;
    width: auto;
    border: 1px;
    border-radius: 20px;
    cursor: pointer;
    color: #fff;
    background-color: #1e3c7e;
    margin-top: auto;
    margin-bottom: auto;
}

.btn_save:hover {
    background-color: #4866a7;
}

.upload_pic {
    width: 100%;
    display: flex;
}

.setting_grid {
    width: 100%;
    margin-bottom: 20px;
}

.setting_box input {
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
    border: 1px solid #dfdfdf;
    width: 100%;
}