<div class="container_home">
    <div class="container_page">
        <div class="post_select">
            <div class="post_box_choose">
                <span class="header_choose">What are you creating?</span>
                <div class="grid_post_box">
                    <div class="grid_item">
                        <a href="/post/text">
                            <i class="fa-solid fa-font fas"></i>
                            <span>Text</span>
                        </a>
                    </div>
                    <div class="grid_item">
                        <a href="/post/image" class="grid_info">
                            <i class="fa-regular fa-image fas"></i>
                            <span>Image</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>